<form class="form_op" id="appealForm" style=margin-top: 15px;" method="POST" action="/add_appeal">
    <table style="width: 100%; margin:4px 0px 4px 0px; box-shadow: none">
        <colgroup>
            <col style="width: 196px">
        </colgroup>
        <tbody>
            <tr class="disabled-row">
                <td style="border: none; text-align: left">📅 {{ res_value('APPEAL_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="appeal_date" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('APPEAL_SOLUTION') }}:</td>
                <td style="border: none; text-align: left;"><input style=" width: 160px" class="input_s_form" type="text" name="appeal_solution" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('CASSATION_APPEAL_SOLUTION') }}:</td>
                <td style="border: none; text-align: left;"><input style=" width: 160px" class="input_s_form" type="text" name="cassation_appeal_solution" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left">{{ res_value('COURT_NAME') }}:</td>
                <td style="border: none; text-align: left"><input class="input_s_form" type="text" name="court_name" required></td>
            </tr>

        </tbody>
    </table>

    <hr>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
