<form class="form_op" id="appealForm" style="display: grid; grid-template-columns: 196px 1fr; row-gap: 8px; column-gap: 12px; align-items: center; max-width: 940px" method="POST" action="/add_appeal">
        <div class="form-row">
            <label for="appeal_date" style="border: none; text-align: left">📅 * {{ res_value('APPEAL_DATE') }}:</label>
            <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="appeal_date" required>
        </div>
        <div class="form-row">
            <label for="effective_date" style="border: none; text-align: left">📅 {{ res_value('EFFECTIVE_DATE') }}:</label>
            <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="effective_date">
        </div>

        <div class="form-row">
            <label style="border: none; text-align: left">{{ res_value('APPEAL_SOLUTION') }}:</label>
            <div class="dropdown" data-role="menu">
                <input class="input_s_form" type="hidden" name="appeal_solution" id="menuValue">
                <button type="button" class="dropdown-button" id="menuButton">
                <i class="fas fa-bars"></i>
                <span class="label">{{ res_value('SELECT_SOLUTION') }}</span>
                </button>
                <div class="dropdown-content">
                    <!-- data-value - отправляется через submit, data-lable - отображается -->
                    <a data-value="{{res_value('APPEAL_SOLUTION_SATISFY')}}" data-label="{{res_value('APPEAL_SOLUTION_SATISFY')}}"><i class="fas fa-home"></i>{{res_value('APPEAL_SOLUTION_SATISFY')}}</a>
                    <a data-value="{{res_value('APPEAL_SOLUTION_REFUSE')}}" data-label="{{res_value('APPEAL_SOLUTION_REFUSE')}}"><i class="fas fa-info-circle"></i>{{res_value('APPEAL_SOLUTION_REFUSE')}}</a>
                </div>
            </div>

        </div>

        <div class="form-row">
            <label style="border: none; text-align: left">{{ res_value('APPEAL_CASSATION_SOLUTION') }}:</label>

            <div class="dropdown" data-role="menu">
                <input class="input_s_form" type="hidden" name="cassation_appeal_solution" id="menuValue">
                <button type="button" class="dropdown-button" id="menuButton">
                <i class="fas fa-bars"></i>
                <span class="label">{{ res_value('SELECT_SOLUTION') }}</span>
                </button>
                <div class="dropdown-content">
                    <!-- data-value - отправляется через submit, data-lable - отображается -->
                    <a data-value="{{res_value('APPEAL_SOLUTION_SATISFY')}}" data-label="{{res_value('APPEAL_SOLUTION_SATISFY')}}"><i class="fas fa-home"></i>{{res_value('APPEAL_SOLUTION_SATISFY')}}</a>
                    <a data-value="{{res_value('APPEAL_SOLUTION_REFUSE')}}" data-label="{{res_value('APPEAL_SOLUTION_REFUSE')}}"><i class="fas fa-info-circle"></i>{{res_value('APPEAL_SOLUTION_REFUSE')}}</a>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label for="court_name" style="border: none; text-align: left">{{ res_value('COURT_NAME') }}:</label>
            <input class="input_s_form" style="width: 95%; max-width: 95%" type="text" name="court_name" required>
        </div>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
