<form class="form_op" id="civForm" style="display: grid; grid-template-columns: 220px 1fr; row-gap: 8px; column-gap: 12px; align-items: center; max-width: 940px" method="POST" action="/add_court_civ">
        <div class="form-row">
            <label for ="submission_date" style="border: none; width: 220px; text-align: left">📅 * {{ res_value('SUBMISSION_DATE') }}:</label>
            <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="submission_date" id="submission_date" required>
        </div>
        <div class="form-row">
            <label for="solution_date" style="border: none; text-align: left">📆 {{ res_value('SOLUTION_DATE') }}:</label>
            <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="solution_date">
        </div>
        <div class="form-row">
            <label for="effective_date" style="border: none; text-align: left">📅 {{ res_value('EFFECTIVE_DATE') }}:</label>
            <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="effective_date" id="effective_date">
        </div>


        <div class="form-row">
            <label for="num_solution" style="border: none; text-align: left">{{ res_value('NUM_SOLUTION') }}:</label>
            <input style="width: 252px" class="input_s_form" type="text" name="num_solution" id="num_solution">
        </div>

        <div class="form-row">
            <label for="dropdown-menu-civ-part" style="border: none; text-align: left">{{ res_value('SOLUTION_CIV_PART') }}:</label>

            <div class="dropdown" data-role="menu" id="dropdown-menu-civ-part">
                <input type="hidden" name="solution" id="menuValue" style="width: 220px" class="input_s_form">
                <button type="button" class="dropdown-button" id="menuButton">
                <i class="fas fa-bars"></i>
                <span class="label">{{ res_value('SELECT_SOLUTION') }}</span>
                </button>
                <div class="dropdown-content">
                    <!-- data-value - отправляется через submit, data-label - отображается -->
                    <a data-value="{{res_value('SOLUTION_SATISFY')}}" data-label="{{res_value('SOLUTION_SATISFY')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_SATISFY')}}</a>
                    <a data-value="{{res_value('SOLUTION_REFUSE')}}" data-label="{{res_value('SOLUTION_REFUSE')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_REFUSE')}}</a>
                    <a data-value="{{res_value('SOLUTION_MEDIATION_AGGREMENT')}}" data-label="{{res_value('SOLUTION_MEDIATION_AGGREMENT')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_MEDIATION_AGGREMENT')}}</a>
                    <a data-value="{{res_value('SOLUTION_SETTLEMENT_AGGREMENT')}}" data-label="{{res_value('SOLUTION_SETTLEMENT_AGGREMENT')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_SETTLEMENT_AGGREMENT')}}</a>
                    <a data-value="{{res_value('SOLUTION_RETURN_DOC')}}" data-label="{{res_value('SOLUTION_RETURN_DOC')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_RETURN_DOC')}}</a>
                    <a data-value="{{res_value('SOLUTION_TERMINATION')}}" data-label="{{res_value('SOLUTION_TERMINATION')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_TERMINATION')}}</a>
                    <a data-value="{{res_value('SOLUTION_DISMISSED')}}" data-label="{{res_value('SOLUTION_DISMISSED')}}"><i class="fas fa-home"></i>{{res_value('SOLUTION_DISMISSED')}}</a>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label for="court_name" style="border: none; text-align: left">{{ res_value('COURT_NAME') }}:</label>
            <input style="width: 95%; max-width: 95%" class="input_s_form" type="text" name="court_name" id="court_name" required>
        </div>

    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
