<form class="form_op" id="executionForm" style="display: grid; grid-template-columns: 222px 1fr; row-gap: 8px; column-gap: 12px; align-items: center; max-width:640px" method="POST" action="/add_execution">
            <div class="form-row">
                <label for="transfer_date" style="border: none; text-align: left" data-help="transfer_date" data-role="helper" class="has-helper">📅 * {{ res_value('EXECUTION_TRANSFER_DATE') }}:</label>
                <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="transfer_date" id="transfer_date" required>
            </div>

            <div class="form-row">
                <label fro="start_date" style="border: none; text-align: left" data-help="start_date" data-role="helper" class="has-helper">📅 {{ res_value('EXECUTION_START_DATE') }}:</label>
                <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="start_date" id="start_date">
            </div>

            <div class="form-row">
                <label for="phone" style="border: none; text-align: left">{{ res_value('EXECUTION_PHONE') }}:</label>
                <input class="input_s_form" style="width: 230px;" type="text" maxlength="16" name="phone" id="phone">
            </div>

            <div class="form-row">
                <label for="court_executor" style="border: none; width: 230px; text-align: left">{{ res_value('EXECUTION_COURT_EXECUTOR') }}:</label>
                <input class="input_s_form" style="min-width: 95%;" type="text" name="court_executor" id="court_executor">
            </div>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
