<form class="form_op" id="lawForm" style=margin-top: 15px;" method="POST" action="/add_law">
    <input type="hidden" name="order_num" id="lawOrderNum">

    <table style="margin:4px 0px 4px 0px; box-shadow: none">
        <tbody>
            <tr class="disabled-row">
                <td style="border: none; width: 260px; text-align: left; font-size: 18px;">📅 {{ res_value('SUBMISSION_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="submission_date" required></td>
            </tr>
            <tr class="disabled-row">
                <td style="border: none; text-align: left; font-size: 18px;">📆 {{ res_value('DECISION_DATE') }}:</td>
                <td style="border: none; text-align: left"><input class="input_d" style="font-size: 18px;" type="date" name="decision_date" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left; font-size: 18px;">{{ res_value('LAW_DECISION') }}:</td>
                <td style="border: none; text-align: left"><input class="input_s_form" type="text" name="orgname" required></td>
            </tr>

            <tr class="disabled-row">
                <td style="border: none; text-align: left; font-size: 18px;">{{ res_value('ORG_NAME') }}:</td>
                <td style="border: none; text-align: left"><input class="input_s_form" type="text" name="orgname" required></td>
            </tr>

        </tbody>
    </table>

    <hr>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
</form>
