<form style="display: grid; grid-template-columns: 232px 1fr; row-gap: 8px; column-gap: 12px; align-items: center; max-width:720px" class="form_op" id="scammerForm" method="POST" action="/add_scammer">
            <div class="form-row">
                <label for="iin" style="border: none; width: 60px; text-align: left; font-size: 18px;">{{ res_value('SCAMMER_IIN') }}</label>
                <input class="input_s_form" style="font-size: 18px; width: 140px;" type="text" name="iin" id="iin" maxlength="12" required>
            </div>
            <div class="form-row">
                <label for="org_name" style="border: none; text-align: left; font-size: 18px;">{{ res_value('SCAMMER_ORG_NAME') }}:</label>
                <input class="input_s_form" style="font-size: 18px; text-align: left; width: 98%" type="text" name="org_name" id="org_name">
            </div>
            <div class="form-row">
                <label for="date_notification" style="border: none; text-align: left; font-size: 18px;">📅 * {{ res_value('SCAMMER_DATE_NOTIFICATION') }}:</label>
                <input class="input_d" style="font-size: 18px; max-width: 150px" type="date" name="date_notification" id="date_notification" required>
            </div>
            <div class="form-row">
                <label for="notification" style="border: none; text-align: left; font-size: 18px;">{{ res_value('SCAMMER_NOTIFICATION') }}</label>
                <input class="input_s_form" style="font-size: 18px; text-align: left; width: 98%" type="text" name="notification" id="notification">
            </div>
    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
    <!--<button type="button" onclick="submitFormViaFetch('scammerForm', 'scammer')">💾 {{ res_value('BUTTON_SAVE') }}</button>-->
</form>
