################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/db/__pycache__
/model/__pycache__
/sso/__pycache__
/util/__pycache__
/venv
/view/__pycache__
/__pycache__
/logs/gfsscourt.log
