{% if court_crime_items %}
<table style="width: 100%; margin-top: 4px">
    <colgroup>
        <col style="width: 175px">
        <col style="width: 155px">
    </colgroup>
    <thead>
        <tr>
            <th>{{ res_value('SUBMISSION_DATE') }}</th>
            <th>{{ res_value('VERDICT_DATE') }}</th>
            <th>{{ res_value('ESTIMATED_DAMAGE_AMOUNT') }}</th>
            <th>{{ res_value('COMPENSATED_AMOUNT') }}</th>
            <th data-help="solution_crime_part" class="has-helper">{{ res_value('SOLUTION_CRIME_PART') }}</th>
            <th data-help="solution_civ_part" class="has-helper">{{ res_value('SOLUTION_CIV_PART') }}</th>
            <th>{{ res_value('COURT_NAME') }}</th>
            <th>{{ res_value('EMPLOYEE') }}</th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for item in court_crime_items %}
        <tr>
            <td>{{ item.submission_date }}</td>
            <td>{{ item.verdict_date }}</td>
            <td style="text-align: right">{{ item.estimated_damage_amount }}</td>
            <td style="text-align: right">{{ item.compensated_amount }}</td>
            <td>{{ item.solution_crime_part }}</td>
            <td>{{ item.solution_civ_part }}</td>
            <td style="text-align: left">{{ item.court_name }}</td>
            <td style="text-align: left">{{ item.employee }}</td>
        <tr>
            {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ res_value('NONE_COURT_CRIME_ITEMS') }}</p>
{% endif %}
