{% if court_civ_items %}
<table style="width: 100%; margin-top: 4px">
    <colgroup>
        <col style="width: 175px">
        <col style="width: 155px">
    </colgroup>
    <thead>
        <tr>
            <th>{{ res_value('SUBMISSION_DATE') }}</th>
            <th>{{ res_value('SOLUTION_DATE') }}</th>
            <th>{{ res_value('NUM_SOLUTION') }}</th>
            <th>{{ res_value('SOLUTION_CIV_PART') }}</th>
            <th>{{ res_value('COURT_NAME') }}</th>
            <th>{{ res_value('EMPLOYEE') }}</th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for item in court_civ_items %}
        <tr>
            <td>{{ item.submission_date }}</td>
            <td>{{ item.solution_date }}</td>
            <td>{{ item.num_solution }}</td>
            <td>{{ item.solution }}</td>
            <td style="text-align: left">{{ item.court_name }}</td>
            <td style="text-align: left">{{ item.employee }}</td>
<tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ res_value('NONE_COURT_CIV_ITEMS') }}</p>
{% endif %}