{% if execution_items %}
<table style="width: 100%; margin-top: 4px">
    <colgroup>
        <col style="width: 175px">
        <col style="width: 155px">
    </colgroup>
    <thead>
        <tr>
            <th>{{ res_value('TRANSFER_DATE') }}</th>
            <th>{{ res_value('START_DATE') }}</th>
            <th>{{ res_value('PHONE') }}</th>
            <th>{{ res_value('COURT_EXECUTOR') }}</th>
            <th>{{ res_value('EMPLOYEE') }}</th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for item in court_items %}
        <tr>
            <td>{{ item.transfer_date }}</td>
            <td>{{ item.start_date }}</td>
            <td style="text-align: left">{{ item.phone }}</td>
            <td style="text-align: left">{{ item.court_executor }}</td>
            <td style="text-align: left">{{ item.employee }}</td>
        <tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ res_value('NONE_EXECUTION_ITEMS') }}</p>
{% endif %}