{% if pretrial_items %}
<table style="width: 840px; margin-top:4px">
    <colgroup>
        <col style="width: 176px">
        <col style="width: 176px">
    </colgroup>
    <thead>
        <tr>
            <td style="">{{ res_value('PRETRIAL_DATE') }}</td>
            <th>{{ res_value('MATURITY_DATE') }}</th>
            <th>{{ res_value('EMPLOYEE') }}</th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
        {% for item in pretrial_items %}
        <tr>
            <td>{{ item.pretrial_date }}</td>
            <td>{{ item.maturity_date }}</td>
            <td style="text-align: left">{{ item.employee }}</td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% else %}
<p>{{ res_value('NONE_PRETRIAL_ITEMS') }}</p>
{% endif %}