button, .button, .button_red {
    color: #aaa;
    background-color: #333C;
    border: 1px solid rgba(180, 180, 180, 0.3);
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.bt {
    border: 1px solid;
    color: #bbb;
    text-shadow: 1px 2px 3px grey;
    background-color: #444;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
button:hover, .button:hover {
    color: cornsilk;
    top: 1px;
    transition: .3s linear;
    box-shadow: 4px 4px 16px rgba(70,205,79, 0.4);
}
.bt:hover {
    color: #ddd;
    text-decoration: none;
    background-color: #333;
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.3);
}
.button_red {
    color: brown;
    border-color: brown;
}

.nav_button {
    color: #ddd;
}

