.img-style {
    border-radius: 18px;
    margin: 2px 2px;
    vertical-align: middle;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.4);
}
.img-style:hover {
    color: #3d3c3c;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 2px 2px;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    /*box-shadow: 5px -5px 8px rgba(80, 80, 80, 0.4);*/
    box-shadow: 5px -5px 8px rgba(70, 205, 79, 0.4);
}



