/*.period-button {
    border-radius: 6px;
    padding: 2px 12px;
    font-size: 19px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: inline-block;
    align-items: center;
    gap: 8px;
}

.period-button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.period-button .fas {
    color: #0077cc;
}

.caret {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    transform: scale(1.2);*/ /* увеличивает всё */
    /*transform-origin: center;*/

    /*hight and color*/
    /*border-top: 8px solid #333;*/
    /*width base*/
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0;
}

.dropdown.open .caret {
    transform: rotate(180deg) scale(1.4);
    transition: transform 0.2s ease;
}*/