.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 6px 16px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    padding: 8px 16px;
    font-size: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.5s, color 0.8s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content i {
    width: 20px;
    text-align: center;
}
