.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 4px 16px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    margin: 1px;
    padding: 6px 12px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    text-align: left;
    text-indent: 0;
    display: block;
    box-sizing: border-box;
/*    align-items: start;*/
    gap: 10px;
    transition: background 0.5s, color 0.8s;
}

/* при наличии класса show — показать */
.dropdown-content.show {
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content i {
    width: 32px;
    /*text-align: center;*/
}
.dropdown-content a.selected {
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
}
.dropdown-content a.selected::after {
    margin-left: 10px;
    content: " ✔";
    color: green;
}

.period-button {
    border-radius: 6px;
    padding: 2px 12px;
    font-size: 19px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: inline-block;
    align-items: center;
    gap: 8px;
}

.period-button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.period-button .fas {
    color: #0077cc;
}

.caret {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    transform: scale(1.2); /* увеличивает всё */
    transform-origin: center;

    /*hight and color*/
    border-top: 8px solid #333;
    /*width base*/
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0;
}

.dropdown.open .caret {
    transform: rotate(180deg) scale(1.4);
    transition: transform 0.2s ease;
}