button, .button, .button_red {
    color: #333;
    text-decoration: none;
    background-color: #efefd3e6;
    border: 1px solid;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    /*box-shadow: 6px 6px 8px rgba(70, 205, 79, 0.2);*/
}
.bt {
    text-shadow: 1px 2px 3px grey;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    background-color: rgba(239, 220, 112, 0.06);
    box-shadow: 6px 6px 8px rgba(70, 205, 79, 0.2);
    border-color: saddlebrown;
    color: darkgreen;
}
button:hover, .button:hover {
    top: 1px;
    transition: .3s linear;
}
.button:hover {
    box-shadow: 4px 4px 6px darkseagreen;
}
.bt:hover {
    color: brown;
    font-weight: 600;
    border-color: #4F809F;
    border-color: brown;
    box-shadow: 6px 6px 6px rgba(70, 205, 79, 0.35);
}
button:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.button_red {
    color: brown;
    border-color: brown;
}

.nav_button {
    color: black;
    background-image: linear-gradient(to right, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 85%, rgba(255,255,255,.5)),
    linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 45%, rgba(121, 219, 144, 0.5)), linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144,.5) 0%, rgba(121, 219, 144, 0.5) );
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 3px 3px 6px grey;
}
.nav_button:hover {
    box-shadow: 4px 4px 16px grey;
}
.nav_button:active {
    top: 0px;
    box-shadow: 3px 3px 6px grey;
}
.nav_button:active, .bt:active, .bt_s:active, .bt_t:active, .bt.danger {
    top: 0px;
    box-shadow: 4px 4px 6px grey;
}
