{% extends 'base.html' %}

{% block title %}
{{ res_value('ADD_OVERPAYMENTS') }}
{% endblock %}

{% block main_title %}
{{ res_value('ADD_OVERPAYMENTS') }}
{% endblock %}

{% block body %}
<div class="title_message">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes" style="margin: 0">
        {% for msg in messages %}
        <li class="td_value_bold"> {{ msg }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
    <form class="form_login" method="POST">
        <table>
            <tbody>
                <tr class="disabled-row">
                    <td style="text-align: left; border:none; width: 240px">* {{res_value('IIN')}}</td>
                    <td style="text-align: left; border:none;"><input style="margin: 4px 0px; width: 144px; border-color: lightgray" class="input_s" name="iin" pattern="[0-9]{12}" type="text" maxlength="12" autocomplete="off" required></td>
                </tr>
                <tr class="disabled-row">
                    <td style="text-align: left; border:none; width: 240px">* {{res_value('RISK_DATE')}}</td>
                    <td style="text-align: left; border:none; padding: 4px 0px"><input style="margin: 5px 0px 4px 4px; width: 150px; font-size: 18px" class="input_d" name="risk_date" pattern="[0-9]{12}" type="date" autocomplete="off" required></td>
                </tr>
                <tr class="disabled-row">
                    <td style="text-align: left; border:none;">{{res_value('RFPM_ID')}}</td>
                    <td style="text-align: left; border: none;">

                        <div class="dropdown">
                            <input type="hidden" name="rfpm_id" id="menuValue">
                            <button style="min-width: 194px; border: 1px solid lightgray; padding: 4px 0px" type="button" class="dropdown-button  period-button" id="menuButton">
                                <i class="fas fa-bars"></i>
                                <span class="label">{{res_value('SELECT_RFPM')}}</span>
                                <span style="display: inline-block" class="caret"></span>
                            </button>
                            <div style="min-width: 140px;" class="dropdown-content">
                                <a data-value="{{res_value('RFPM_0701')}}" data-label="{{res_value('RFPM_0701')}}"><i class="fas fa-home"></i>{{res_value('RFPM_0701')}}</a>
                                <a><i class="fas fa-info-circle"></i>{{res_value('RFPM_0702')}}</a>
                                <a><i class="fas fa-envelope"></i>{{res_value('RFPM_0703')}}</a>
                                <a><i class="fas fa-envelope"></i>{{res_value('RFPM_0704')}}</a>
                                <a><i class="fas fa-envelope"></i>{{res_value('RFPM_0705')}}</a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr class="disabled-row">
                    <td style="text-align: left; border: none;">{{res_value('SUM_CIV_AMOUNT')}}</td>
                    <td style="text-align: left; border: none;"><input style="margin: 4px 0px; border-color: lightgray" class="input_s" type="number" min="0.00" name="sum_civ_amount" autocomplete="off"></td>
                </tr>
                <tr class="disabled-row">
                    <td style="text-align: left; border: none; margin-bottom: 16px">* {{res_value('FILIAL_NAME')}}</td>
                    <td style="text-align: left; border: none;">
                        {% if top_control==1 %}
                        <input style="margin: 4px 16px 16px 0px; width: 640px; border-color: lightgray" class="input_s" type="text" name="region" autocomplete="on" required>
                        {% else %}
                        <input style="margin: 4px 16px 16px 0px; width: 640px; border-color: lightgray" class="input_s" type="text" name="region" placeholder="{{ g.user.dep_name }}" value="{{region}}" autocomplete="on"  readonly required>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <!--<tr>
                    <td colspan="1">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="flash-message">
                            {% for msg in messages %}
                            <div class="alert">{{ msg }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>-->
            </tfoot>
        </table>
        <button style="margin-top: 16px" type="submit">{{ res_value('BUTTON_SAVE') }}</button>
    </form>
    <a>{{ mess }}</a>
    <script type="module" src="/static/js/list_op.js"></script>
{% endblock %}
