{% extends 'base.html' %}

{% block title %}
   {{ res_value('LIST_OVERPAYMENTS') }}
{% endblock %}

{% block main_title %}
<div>
    <a>{{ res_value('LIST_OVERPAYMENTS') }}</a>
</div>
<div style="text-align:end">
    <a class="button" href="/add_op">{{ res_value('ADD_OVERPAYMENTS') }}</a>
</div>
{% endblock %}


{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}


{% block body %}
<div class="container">
    <!-- Верхняя область: список документов -->
    <div class="documents">
            <table>
                <colgroup><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                <thead>
                    <tr>
                        <th>{{ res_value('ORDER_NUM') }}</th>
                        <th>{{ res_value('FILIAL_NAME') }}</th>
                        <th>{{ res_value('FIO_OVERPAY') }}</th>
                        <th>{{ res_value('IIN_OVERPAY') }}</th>
                        <th>{{ res_value('RFPM_ID') }}</th>
                        <th>{{ res_value('ESTIMATED_DAMAGE_AMOUNT') }}</th>
                        <th>{{ res_value('COMPENSATED_AMOUNT') }}</th>
                        <th>{{ res_value('COURT_DAMAGE_AMOUNT') }}</th>
                        <th>{{ res_value('STATUS_OVERPAY') }}</th>
                        <th>{{ res_value('POINT_UK') }}</th>
                        <th>{{ res_value('LAST_SOURCE_SOLUTION') }}</th>
                        <th>{{ res_value('LAST_SOLUTION') }}</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr>
                        <td>
                            <a class="button button_add_op" href="/add_op">+</a>
                        </td>
                    </tr>
                    {% for el in list_op %}
                    <tr onclick="filterByOrder('{{ el.order_num }}')" data-order="{{ el.order_num }}">
                        <td>
                            {{ el.order_num }}
                        </td>
                        <td style="text-align: left">
                            {{ el.region }}
                        </td>
                        <td>
                            {{ el.fio }}
                        </td>
                        <td>
                            {{ el.iin }}
                        </td>
                        <td style="text-align: left">
                            {{ el.rfpm_id }}
                        </td>
                        <td>
                            {{ el.estimated_amount }}
                        </td>
                        <td>
                            {{ el.compensated_amount }}
                        </td>
                        <td>
                            {{ el.court_amount }}
                        </td>
                        <td>
                            {{ el.last_status }}
                        </td>
                        <td>
                            {{ el.point_uk }}
                        </td>
                        <td style="text-align: left">
                            {{ el.last_source_solution }}
                        </td>
                        <td style="text-align: left">
                            {{ el.last_solution }}
                        </td>

                    </tr>
                    {% endfor %}
            <tbody>
            </table>

    </div>
    <!-- Нижняя область: вкладки -->
    <div class="tabs">

        <!-- Общее поле order_num для всех TABS -->
        <input type="hidden" name="order_num" id="sharedOrderNum">
        <input type="hidden" name="order_num" form="pretrialForm">
        <input type="hidden" name="order_num" form="lawForm">
        <input type="hidden" name="order_num" id="courtOrderNum">


        <div class="tab-buttons">
            <button class="tab active" onclick="showTab('pretrial')">{{ res_value('TAB_PRETRIAL') }}</button>
            <button class="tab" onclick="showTab('law')">{{ res_value('TAB_LAW') }}</button>
            <button class="tab" onclick="showTab('court')">{{ res_value('TAB_COURT') }}</button>
            <button class="tab" onclick="showTab('appeal')">{{ res_value('TAB_APPEAL') }}</button>
            <button class="tab" onclick="showTab('execution')">{{ res_value('TAB_EXECUTION') }}</button>
        </div>
        <div class="tab-content active">

            <div id="pretrial" class="tab-panel">
                <button class="add-button" onclick="togglePretrialForm()">➕ {{ res_value('BUTTON_ADD') }}</button>

                <form class="form_op" id="pretrialForm" style="display: none; margin-top: 15px;" method="POST" action="/add_pretrial">
                    <!--<input type="hidden" name="order_num" id="pretrialOrderNum">-->

                    <label style="font-size: 18px">
                        📅 {{ res_value('AGREEMENT_DATE') }}:&emsp;
                        <input style="font-size: 18px" type="date" name="agreement_date" required>
                    </label>
                    <!--<br><br>-->
                    <label style="margin-left: 64px; font-size: 18px">
                        📆 {{ res_value('MATURITY_DATE') }}:&emsp;
                        <input style="font-size: 18px" type="date" name="execution_date" required>
                    </label>
                    <br><br>
                    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
                </form>

                <div id="pretrialContent">
                    <!-- Here will be fragment _pretrial_items -->
                </div>
            </div>

            <div id="law" class="tab-panel">
                <button class="add-button" onclick="toggleLawForm()">➕ {{ res_value('BUTTON_ADD') }}</button>

                <form class="form_op" id="lawForm" style="display: none; margin-top: 15px;" method="POST" action="/add_law">
                    <!--<input type="hidden" name="order_num" id="lawOrderNum">-->

                    <label style="font-size: 18px">
                        📅 {{ res_value('SUBMISSION_DATE') }}:&emsp;
                        <input style="font-size: 18px" type="date" name="submission_date" required>
                    </label>
                    <!--<br><br>-->
                    <label style="margin-left: 64px; font-size: 18px">
                        📆 {{ res_value('DECISION_DATE') }}:&emsp;
                        <input style="font-size: 18px" type="date" name="decision_date" required>
                    </label>
                    <br><br>
                    <label style=font-size: 18px">
                        {{ res_value('LAW_DECISION') }}:&emsp;
                        <input style="font-size: 18px; width: 840px" type="text" name="decision" required>
                    </label>
                    <br><br>
                    <label style="font-size: 18px">
                        {{ res_value('ORG_NAME') }}:&emsp;
                        <input style="font-size: 18px; width: 840px" type="text" name="orgname" required>
                    </label>
                    <br>
                    <button type="submit">💾 {{ res_value('BUTTON_SAVE') }}</button>
                </form>

                <div id="lawContent">
                    <!-- Here will be fragment _law_items -->
                </div>
            </div>

            <div id="court" class="tab-panel">
                <button class="add-button" onclick="toggleCourtForm()">➕ {{ res_value('BUTTON_ADD') }}</button>

                <form class="form_op" id="courtForm" style="display: none; margin-top: 15px;" method="POST" action="/add_court">
                    <ul id="courtList">
                        <li>№123/2023</li>
                        <li>№456/2024</li>
                        <li>№789/2025</li>
                    </ul>
                </form>

                <div id="courtContent">
                    <!-- Here will be fragment _court_items -->
                </div>
            </div>

            <div id="appeal" class="tab-panel">
                <button class="add-button" onclick="toggleAppealForm()">➕ {{ res_value('BUTTON_ADD') }}</button>

                <form class="form_op" id="appealForm" style="display: none; margin-top: 15px;" method="POST" action="/add_appeal">
                    <ul id="appealList">
                        <li>№123/2023</li>
                        <li>№456/2024</li>
                        <li>№789/2025</li>
                    </ul>
                </form>

                <div id="appealContent">
                    <!-- Here will be fragment _court_items -->
                </div>
            </div>

            <div id="execution" class="tab-panel">
                <button class="add-button" onclick="toggleExecutionForm()">➕ {{ res_value('BUTTON_ADD') }}</button>

                <form class="form_op" id="appealForm" style="display: none; margin-top: 15px;" method="POST" action="/add_execution">
                    <ul id="executionList">
                        <li>№123/2023</li>
                        <li>№456/2024</li>
                        <li>№789/2025</li>
                    </ul>
                </form>

                <div id="executionContent">
                    <!-- Here will be fragment _court_items -->
                </div>
            </div>


        </div>
    </div>
</div>
<script src="static/js/list_op.js"></script>
{% endblock %}
