{% extends 'base.html' %}

{% block title %}
   {{ res_value('LIST_OVERPAYMENTS') }}
{% endblock %}

{% block main_title %}
<div>
    <a>{{ res_value('LIST_OVERPAYMENTS') }}</a>
</div>
<div style="text-align:end">
    <a class="button" href="/add_op">{{ res_value('ADD_OVERPAYMENTS') }}</a>
</div>
{% endblock %}


{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}


{% block body %}
<div class="container">
    <!-- Верхняя область: список документов -->
    <div class="documents">
            <table>
                <colgroup><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                <thead>
                    <tr>
                        <th>{{ res_value('ORDER_NUM') }}</th>
                        <th>{{ res_value('FILIAL_NAME') }}</th>
                        <th>{{ res_value('FIO_OVERPAY') }}</th>
                        <th>{{ res_value('IIN_OVERPAY') }}</th>
                        <th>{{ res_value('RFPM_ID') }}</th>
                        <th>{{ res_value('ESTIMATED_DAMAGE_AMOUNT') }}</th>
                        <th>{{ res_value('COMPENSATED_AMOUNT') }}</th>
                        <th>{{ res_value('COURT_DAMAGE_AMOUNT') }}</th>
                        <th>{{ res_value('STATUS_OVERPAY') }}</th>
                        <th>{{ res_value('POINT_UK') }}</th>
                        <th>{{ res_value('LAST_SOURCE_SOLUTION') }}</th>
                        <th>{{ res_value('LAST_SOLUTION') }}</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr>
                        <td>
                            <a class="button button_add_op" href="/add_op">+</a>
                        </td>
                    </tr>
                    {% for el in list_op %}
                    <tr onclick="filterByOrder('{{ el.order_num }}')" data-order="{{ el.order_num }}">
                        <td>
                            {{ el.order_num }}
                        </td>
                        <td style="text-align: left">
                            {{ el.region }}
                        </td>
                        <td>
                            {{ el.fio }}
                        </td>
                        <td>
                            {{ el.iin }}
                        </td>
                        <td style="text-align: left">
                            {{ el.rfpm_id }}
                        </td>
                        <td>
                            {{ el.estimated_amount }}
                        </td>
                        <td>
                            {{ el.compensated_amount }}
                        </td>
                        <td>
                            {{ el.court_amount }}
                        </td>
                        <td>
                            {{ el.last_status }}
                        </td>
                        <td>
                            {{ el.point_uk }}
                        </td>
                        <td style="text-align: left">
                            {{ el.last_source_solution }}
                        </td>
                        <td style="text-align: left">
                            {{ el.last_solution }}
                        </td>

                    </tr>
                    {% endfor %}
            <tbody>
            </table>

    </div>
    <!-- Нижняя область: вкладки -->
    <div class="tabs">

        <!-- Общее поле order_num для всех TABS -->
        <input type="hidden" name="order_num" id="sharedOrderNum">
        <input type="hidden" name="order_num" form="pretrialForm">
        <input type="hidden" name="order_num" form="lawForm">
        <input type="hidden" name="order_num" id="courtOrderNum">


        <div class="tab-buttons">
            <button class="tab active" onclick="showTab('pretrial')">{{ res_value('TAB_PRETRIAL') }}</button>
            <button class="tab" onclick="showTab('law')">{{ res_value('TAB_LAW') }}</button>
            <button class="tab" onclick="showTab('court')">{{ res_value('TAB_COURT') }}</button>
            <button class="tab" onclick="showTab('appeal')">{{ res_value('TAB_APPEAL') }}</button>
            <button class="tab" onclick="showTab('execution')">{{ res_value('TAB_EXECUTION') }}</button>
        </div>
        <div class="tab-content active">

            <div id="pretrial" class="tab-panel">
                <!--<button class="add-button" onclick="toggleForm('pretrialForm')">{{ res_value('BUTTON_ADD') }}</button>-->
                <button onclick="toggleForm('pretrialForm', 'pretrial')">➕ {{ res_value('BUTTON_ADD') }}</button>
                <button id="pretrialRefreshButton" onclick="refreshTab('pretrial')">🔄 Обновить</button>

                <div id="pretrialFormContainer"></div>
                <div id="pretrialContent"><!-- Here will be fragment _pretrial_items --></div>
                <div id="pretrialTimestamp" class="tab-timestamp"></div>
            </div>

            <div id="law" class="tab-panel">
                <button onclick="toggleForm('lawForm', 'law')">➕ {{ res_value('BUTTON_ADD') }}</button>
                <button id="lawRefreshButton" onclick="refreshTab('law')">🔄 Обновить</button>

                <div id="lawFormContainer"><!-- Here will be FORM _law_items --></div>
                <div id="lawContent"><!-- Here will be fragment _law_items --></div>
                <div id="lawTimestamp" class="tab-timestamp"></div>
            </div>

            <div id="court" class="tab-panel">
                <button class="add-button" onclick="toggleForm('courtForm', 'court')">➕ {{ res_value('BUTTON_ADD') }}</button>
                <button id="courtRefreshButton" onclick="refreshTab('court')">🔄 Обновить</button>

                <div id="courtFormContainer"><!-- Here will be FORM _court_items --></div>
                <div id="courtContent"><!-- Here will be fragment _court_items --></div>
                <div id="courtTimestamp" class="tab-timestamp"></div>
            </div>

            <div id="appeal" class="tab-panel">
                <button class="add-button" onclick="toggleForm('appealForm', 'appeal')">➕ {{ res_value('BUTTON_ADD') }}</button>
                <button id="appealRefreshButton" onclick="refreshTab('appeal')">🔄 Обновить</button>

                <div id="appealFormContainer"><!-- Here will be FORM _appeal_items --></div>
                <div id="appealContent"><!-- Here will be fragment _appeal_items --></div>
                <div id="appealTimestamp" class="tab-timestamp"></div>
            </div>

            <div id="execution" class="tab-panel">
                <button class="add-button" onclick="toggleForm('executionForm','execution')">➕ {{ res_value('BUTTON_ADD') }}</button>
                <button id="executionRefreshButton" onclick="refreshTab('execution')">🔄 Обновить</button>

                <div id="executionFormContainer"><!-- Here will be FORM _execution_items --></div>
                <div id="executionContent"><!-- Here will be fragment _execution_items --></div>
                <div id="executionTimestamp" class="tab-timestamp"></div>
            </div>


        </div>
    </div>
</div>
<script src="static/js/list_op.js"></script>
{% endblock %}
