{% extends 'base.html' %}

{% block title %}
{{ res_value('LIST_OVERPAYMENTS') }}
{% endblock %}

{% block main_title %}
<div>
    <a>{{ res_value('LIST_OVERPAYMENTS') }}</a>
</div>
<div style="text-align:end">
    <a class="button" href="/add_op">{{ res_value('ADD_OVERPAYMENTS') }}</a>
</div>
{% endblock %}


{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}


{% block body %}
<div class="container">
    <!-- Верхняя область: список документов -->
    <div class="documents">
        <table>
            <colgroup><col style="width: 80px;"><col><col><col style="width: 140px;"><col style="width: 140px;"><col><col><col><col><col><col></colgroup>
            <thead>
                <tr>
                    <th data-help="overpayment_id" class="has-helper">{{ res_value('ORDER_NUM') }}</th>
                    <th data-help="region" class="has-helper">{{ res_value('FILIAL_NAME') }}</th>
                    <th>{{ res_value('FIO_OVERPAY') }}</th>
                    <th data-help="iin" class="has-helper">{{ res_value('IIN_OVERPAY') }}</th>
                    <th data-help="risk_date" class="has-helper">{{ res_value('RISK_DATE') }}</th>
                    <th data-help="rfpm_id" class="has-helper">{{ res_value('RFPM_ID') }}</th>
                    <th data-help="sum_civ_amount" class="has-helper">{{ res_value('SUM_CIV_AMOUNT') }}</th>
                    <th>{{ res_value('COMPENSATED_AMOUNT') }}</th>
                    <th data-help="last_status" class="has-helper">{{ res_value('STATUS_OVERPAY') }}</th>
                    <th data-help="court_date" class="has-helper">{{ res_value('COURT_DATE') }}</th>
                    <th data-help="effective_date" class="has-helper">{{ res_value('EFFECTIVE_DATE') }}</th>
                    <th data-help="last_source_solution" class="has-helper">{{ res_value('LAST_SOURCE_SOLUTION') }}</th>
                    <th data-help="last_solution" class="has-helper">{{ res_value('LAST_SOLUTION') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a style="text-decoration: none;" href="/add_op">➕</a>
                    </td>
                    <td />
                    <td />
                    <td style="min-width: 167px; padding: 4px 4px; text-align: left">
                        <form method="GET" style="padding: 0px; margin: 0px; border:none" action="{{ url_for('view_list_overpayments') }}">
                            <input class="input_s_form" 
                                   style="width: 130px; font-size: 16px; border: 1px solid #ccc" 
                                   inputmode="numeric"
                                   pattern="\d{1,12}" 
                                   maxlength="12" 
                                   type="text" name="iin_filter" placeholder="ИИН" value="{{ request.args.get('iin_filter', '') }}">
                            <button type="submit" class="tiny-btn">🔍</button>
                        </form>
                    </td>
                    <td />
                    <td />
                    <td />
                    <td>
                        <a style="text-decoration: none; font-size: 18px" href="/recalc_refunding">🔄</a>
                    </td>
                    <td />
                    <td />
                    <td />
                    <td />
                </tr>
                {% for el in list_op %}
                <tr data-order="{{ el.order_num }}" class="clickable-row">
                    <td>
                        <a>{{ el.order_num }}</a>
                    </td>

                    {% if g.user.top_control==0 %}
                    <td style="text-align: left">
                        {{ el.region }}
                    </td>
                    {% else %}
                    <td style="min-width: 355px; padding: 4px 4px; text-align: left">
                        <input style="width: 290px; text-align: left; font-size: 16px"
                               type="text"
                               name="region"
                               value="{{ el.region }}"
                               autocomplete="off"
                               readonly
                               class="region input_s_form" />

                        <button class="edit-btn tiny-btn" data-id="{{ el.order_num }}" data-field="region">✏️</button>
                        <button class="save-btn tiny-btn" data-id="{{ el.order_num }}" data-field="region" style="display:none;">💾</button>
                        <button class="cancel-btn tiny-btn" data-id="{{ el.order_num }}" data-field="region" style="display:none;">❌</button>
                    </td>
                    {% endif %}

                    <td style="text-align: left">
                        {{ el.fio }}
                    </td>
                    <td>
                        {{ el.iin }}
                    </td>
                    <td style="min-width: 202px; padding: 4px 4px; text-align: left ">
                        {% set parts = el.risk_date.split('.') %}
                        {% set html_date = parts[2] ~ '-' ~ parts[1] ~ '-' ~ parts[0] %}
                        <input type="date" style="width: 136px;"
                               name="risk_date"
                               value="{{ html_date }}"
                               readonly
                               class="risk-input input_d" />

                        <button class="edit-btn tiny-btn" data-id="{{ el.order_num }}" data-field="risk_date">✏️</button>
                        <button class="save-btn tiny-btn" data-id="{{ el.order_num }}" data-field="risk_date" style="display:none;">💾</button>
                        <button class="cancel-btn tiny-btn" data-id="{{ el.order_num }}" data-field="risk_date" style="display:none;">❌</button>
                    </td>
                    <td style="text-align: left">
                        {{ el.rfpm_id }}
                    </td>
                    {% if g.user.top_control==0 %}
                    <td style="text-align: right">
                        {{ el.sum_civ_amount }}
                    </td>
                    {% else %}
                    <td style="min-width: 180px; text-align: left; padding: 4px 4px;">
                        <input type="text" style="width: 115px; text-align: right; font-family: monospace; font-size: 16px"
                               name="sum_civ_amount"
                               value="{{ el.sum_civ_amount.strip() }}"
                               inputmode="decimal"
                               pattern="^\d+(\.\d{1,2})?$"
                               readonly
                               class="sum_civ_amount input_s_form" />

                        <button class="edit-btn tiny-btn" data-id="{{ el.order_num }}" data-field="sum_civ_amount">✏️</button>
                        <button class="save-btn tiny-btn" data-id="{{ el.order_num }}" data-field="sum_civ_amount" style="display:none;">💾</button>
                        <button class="cancel-btn tiny-btn" data-id="{{ el.order_num }}" data-field="sum_civ_amount" style="display:none;">❌</button>
                    </td>
                    {% endif %}
                    <td style="text-align: right">
                        {{ el.compensated_amount }}
                    </td>
                    <td style="text-align: left">
                        {{ el.last_status }}
                    </td>
                    <td>
                        {{ el.verdict_date }}
                    </td>
                    <td>
                        {{ el.effective_date }}
                    </td>
                    <td style="text-align: left">
                        {{ el.last_source_solution }}
                    </td>
                    <td style="text-align: left">
                        {{ el.last_solution }}
                    </td>

                </tr>
                {% endfor %}
            <tbody>
        </table>

    </div>
    <!-- Нижняя область: вкладки -->
    <div class="tabs">

        <!-- Общее поле order_num для всех TABS -->
        <input type="hidden" name="active_tab" id="sharedTabId">
        <input type="hidden" name="order_num" id="sharedOrderNum">

        <!--<input type="hidden" name="order_num" form="pretrialForm">-->
        <!--<input type="hidden" name="order_num" form="scammerForm">
        <input type="hidden" name="order_num" form="lawForm">
        <input type="hidden" name="order_num" form="court_civOrderNum">
        <input type="hidden" name="order_num" form="court_crimeOrderNum">
        <input type="hidden" name="order_num" form="appealOrderNum">
        <input type="hidden" name="order_num" form="executionOrderNum">
        <input type="hidden" name="order_num" form="refundingOrderNum">-->


        <div class="tab-buttons">
            <button class="tab active" onclick="API.showTab('pretrial')">{{ res_value('TAB_PRETRIAL') }}</button>
            <button class="tab" onclick="API.showTab('scammer')">{{ res_value('TAB_SCAMMERS') }}</button>
            <button class="tab" onclick="API.showTab('law')">{{ res_value('TAB_LAW') }}</button>
            <button class="tab" onclick="API.showTab('court_crime')">{{ res_value('TAB_COURT_CRIME') }}</button>
            <button class="tab" onclick="API.showTab('court_civ')">{{ res_value('TAB_COURT_CIV') }}</button>
            <button class="tab" onclick="API.showTab('appeal')">{{ res_value('TAB_APPEAL') }}</button>
            <button class="tab" onclick="API.showTab('execution')">{{ res_value('TAB_EXECUTION') }}</button>
            <button class="tab" onclick="API.showTab('refunding')">{{ res_value('TAB_REFUNDING') }}</button>
        </div>
        <div class="tab-content active">

            <div id="pretrial" class="tab-panel">
                <button data-form="pretrialForm" data-type="pretrial" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <button class="refresh-btn" data-tab="pretrial" id="pretrialRefreshButton">🔄 Обновить</button>

                <div id="pretrialFormContainer"></div>
                <div id="pretrialContent"><!-- Here will be fragment _pretrial_items --></div>
                <!--<div id="pretrialTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="scammer" class="tab-panel">
                <button data-form="scammerForm" data-type="scammer" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <button class="refresh-btn" data-tab="scammer" id="scammerRefreshButton">🔄 Обновить</button>
                <!--<button id="scammerRefreshButton" onclick="API.refreshTab('scammer')">🔄 Обновить</button>-->

                <div id="scammerFormContainer"></div>
                <div id="scammerContent"><!-- Here will be fragment _pretrial_items --></div>
                <!--<div id="scammerTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="law" class="tab-panel">
                <button data-form="lawForm" data-type="law" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <button class="refresh-btn" data-tab="law" id="lawRefreshButton">🔄 Обновить</button>
                <!--<button id="lawRefreshButton" onclick="API.refreshTab('law')">🔄 Обновить</button>-->

                <div id="lawFormContainer"><!-- Here will be FORM _law_items --></div>
                <div id="lawContent"><!-- Here will be fragment _law_items --></div>
                <!--<div id="lawTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="court_crime" class="tab-panel">
                <button data-form="court_crimeForm" data-type="court_crime" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--                <button id="courtRefreshButton" onclick="API.refreshTab('court_crime')">🔄 Обновить</button>-->
                <button class="refresh-btn" data-tab="court_crime" id="court_crimeRefreshButton">🔄 Обновить</button>

                <div id="court_crimeFormContainer"><!-- Here will be FORM _court_items --></div>
                <div id="court_crimeContent"><!-- Here will be fragment _court_items --></div>
                <!--<div id="court_crimeTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="court_civ" class="tab-panel">
                <button data-form="court_civForm" data-type="court_civ" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--                <button id="court_civRefreshButton" onclick="API.refreshTab('court_civ')">🔄 Обновить</button>-->
                <button class="refresh-btn" data-tab="court_civ" id="court_civRefreshButton">🔄 Обновить</button>


                <div id="court_civFormContainer"><!-- Here will be FORM _court_items --></div>
                <div id="court_civContent"><!-- Here will be fragment _court_items --></div>
                <!--<div id="court_civTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="appeal" class="tab-panel">
                <button data-form="appealForm" data-type="appeal" class="add-btn"
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">
                    ➕ {{ res_value('BUTTON_ADD') }}
                </button>
                <!--<button id="appealRefreshButton" onclick="API.refreshTab('appeal')">🔄 Обновить</button>-->
                <button class="refresh-btn" data-tab="appeal" id="appealRefreshButton">🔄 Обновить</button>

                <div id="appealFormContainer"><!-- Here will be FORM _appeal_items --></div>
                <div id="appealContent"><!-- Here will be fragment _appeal_items --></div>
                <!--<div id="appealTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="execution" class="tab-panel">
                <button data-form="executionForm" data-type="execution" class="add-btn" 
                        data-label-add="➕ {{ res_value('BUTTON_ADD') }}"  
                        data-label-close="❌ {{ res_value('BUTTON_CLOSE') }}">➕ {{ res_value('BUTTON_ADD') }}</button>
<!--                <button id="executionRefreshButton" onclick="API.refreshTab('execution')">🔄 Обновить</button>-->
                <button class="refresh-btn" data-tab="execution" id="executionRefreshButton">🔄 Обновить</button>

                <div id="executionFormContainer"><!-- Here will be FORM _execution_items --></div>
                <div id="executionContent"><!-- Here will be fragment _execution_items --></div>
                <!--<div id="executionTimestamp" class="tab-timestamp"></div>-->
            </div>

            <div id="refunding" class="tab-panel">
                <!--<button data-form="refundingForm" data-type="refunding" class="add-btn">➕ {{ res_value('BUTTON_ADD') }}</button>-->
                <button class="refresh-btn" data-tab="refunding" id="refundingRefreshButton">🔄 Обновить</button>

                <!--<div id="refundingFormContainer">--><!-- Here will be FORM _execution_items --><!--</div>-->
                <div id="refundingContent"><!-- Here will be fragment _execution_items --></div>
                <!--<div id="refundingTimestamp" class="tab-timestamp"></div>-->
            </div>


        </div>
    </div>
</div>
<script type="module" src="static/js/list_op.js"></script>
{% endblock %}
